.header {

    height:80px;

    display:flex;

    justify-content:space-between;

    align-items:center;


    padding:0 30px;


    background:

    rgba(255,255,255,0.05);


    backdrop-filter:blur(20px);


    color:#F8FAFC;

}