.sectionTitle {
    text-align: center;
    margin-bottom: 56px;

    h2 {
        color: var(--color-surface);
        font-size: 38px;
        font-weight: 700;
        line-height: 1.4;
        margin-bottom: 14px;
    }

    p {
        max-width: 650px;
        margin: 0 auto;

        color: var(--color-text-secondary);

        font-size: 17px;
        line-height: 1.9;
    }
}