.carousel {

    width: 100%;

    padding: 20px 0;

    position: relative;
    width: 100%;


}



.viewport {

    max-width: 1400px;

    margin: 0 auto;

    overflow: hidden;

}





.container {

    display: flex;

    margin-inline: -14px;

}





.slide {

    flex: 0 0 25%;

    min-width: 0;

    padding: 0 14px;

    box-sizing: border-box;

}


/* =====================
        Premium Arrows
===================== */


.arrow {

    position: absolute;

    top: 50%;

    transform: translateY(-50%);


    width: 64px;

    height: 64px;


    display: flex;

    justify-content: center;

    align-items: center;


    border-radius: 50%;


    border:

        1px solid rgba(255, 255, 255, .15);


    background:

        rgba(255, 255, 255, .08);


    backdrop-filter: blur(20px);

    -webkit-backdrop-filter: blur(20px);


    color: var(--color-surface);


    font-size: 34px;


    cursor: pointer;


    z-index: 50;


    box-shadow:

        0 12px 35px rgba(0, 0, 0, .35);


    transition:

        .35s ease;

}



.arrow:hover:not(:disabled) {

    background:

        linear-gradient(135deg,
            #03AB81,
            #18D7A7);


    border-color:

        rgba(3, 171, 129, .8);


    transform:

        translateY(-50%) scale(1.1);


    box-shadow:

        0 15px 45px rgba(3, 171, 129, .45);

}



.arrow:active:not(:disabled) {

    transform:

        translateY(-50%) scale(.95);

}



.arrow:disabled {

    opacity: .25;

    cursor: not-allowed;

    box-shadow: none;

}



/* جای فلش ها روی لبه */

.right {

    right: 200px;

}



.left {

    left: 200px;

}





/* Glass edge */

.carousel::before,
.carousel::after {

    content: "";

    position: absolute;

    top: 0;

    width: 70px;

    height: 100%;


    pointer-events: none;

    z-index: 10;

}



.carousel::before {

    right: 0;


    background:

        linear-gradient(to left,
            var(--color-primary),
            transparent);

}



.carousel::after {

    left: 0;


    background:

        linear-gradient(to right,
            var(--color-primary),
            transparent);

}